################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite
/.vs/ProjectSettings.json
*.opendb
*.db-wal
*.db-shm
*.db
/.vs/DualShock4-emulator/v16/.suo
